@font-face
  font-family 'candal'
  font-style normal
  font-weight 400
  src url('fonts/candal.eot')
  src url('fonts/candal.eot?#iefix') format('embedded-opentype'), url('fonts/candal.woff2') format('woff2'), url('fonts/candal.woff') format('woff'), url('fonts/candal.ttf') format('truetype'), url('fonts/candal.svg#rubikblack') format('svg')

@font-face
  font-family 'rubik'
  font-style normal
  font-weight 700
  src url('fonts/rubik-bold.eot')
  src url('fonts/rubik-bold.eot?#iefix') format('embedded-opentype'), url('fonts/rubik-bold.woff2') format('woff2'), url('fonts/rubik-bold.woff') format('woff'), url('fonts/rubik-bold.ttf') format('truetype'), url('fonts/rubik-bold.svg#rubikbold') format('svg')

@font-face
  font-family 'rubik'
  font-style italic
  font-weight 700
  src url('fonts/rubik-bolditalic.eot')
  src url('fonts/rubik-bolditalic.eot?#iefix') format('embedded-opentype'), url('fonts/rubik-bolditalic.woff2') format('woff2'), url('fonts/rubik-bolditalic.woff') format('woff'), url('fonts/rubik-bolditalic.ttf') format('truetype'), url('fonts/rubik-bolditalic.svg#rubikbold_italic') format('svg')

@font-face
  font-family 'rubik'
  font-style italic
  font-weight 400
  src url('fonts/rubik-italic.eot')
  src url('fonts/rubik-italic.eot?#iefix') format('embedded-opentype'), url('fonts/rubik-italic.woff2') format('woff2'), url('fonts/rubik-italic.woff') format('woff'), url('fonts/rubik-italic.ttf') format('truetype'), url('fonts/rubik-italic.svg#rubikitalic') format('svg')

@font-face
  font-family 'rubik'
  font-style normal
  font-weight 400
  src url('fonts/rubik-regular.eot')
  src url('fonts/rubik-regular.eot?#iefix') format('embedded-opentype'), url('fonts/rubik-regular.woff2') format('woff2'), url('fonts/rubik-regular.woff') format('woff'), url('fonts/rubik-regular.ttf') format('truetype'), url('fonts/rubik-regular.svg#rubikregular') format('svg')

body
  font-family 'Rubik', sans-serif
  font-size 16px
  font-weight 400
  line-height 1.2

a
  text-decoration none
  transition .35s ease-in-out

p
  margin 0
  padding 0

h1, h2, h3, h4, h5, h6
  font-family 'candal', sans-serif
  font-weight 400
  text-transform initial

h1
  font-size 1.4em

  @media (min-width: $bp-xl)
    font-size 2.5em

h2
  font-size 1.6em
  line-height 1.1

  @media (min-width: $bp-xl)
    font-size 2.3em
    line-height 1.3
