$white = #fff
$black = #000
$text__color = #8D8D8D
$brand__color = #27B7CA
$bg__color = #EBE7E7
$title__color-main = #F1472E
$color__twitter = #0084FF
$color__instagram = #fb3958
$color__facebook = #3B5998


// Categories
$color__catOne = #27A9E3
$color__catTwo = #F4D122
$color__catThree = #FB3D2B
$color__catFour = #B011E7

// Pepsi Chart
$pepsi__chart__blue = #0065C3
$pepsi__chart__red = #F21C1C

//Margins
$gap__small = 5vh
$gap__big = 10rem