// .cat
//   font-size: responsive .8em 1em
//   font-style: italic
//   font-weight: 700
//   letter-spacing: .09em
//   position: absolute
//   text-transform: uppercase
//   top: -.7rem
//   z-index: -50
//
// .catOne, .catOne h1, .catOne .cat
//   color: darken($color__catOne, 15%)
//   right: 1.5rem
//
// .catTwo, .catTwo h1, .catTwo .cat
//   color: darken($color__catTwo, 15%)
//   right: 1.5rem
//
// .catThree, .catThree h1, .catThree .cat
//   color: darken($color__catThree, 15%)
//   left: 1.5rem
//
// .catFour, .catFour h1, .catFour .cat
//   color: darken($color__catFour, 15%)
//   left: 1.5rem
//
// .catFive, .catFive h1, .catFive .cat
//   color: darken($player__color--bg, 15%)
//   right: 1.5rem
