header
  align-items center
  display flex
  justify-content space-between
  margin-bottom 1.5rem
  padding 1.5rem 1rem 0
  position relative

  @media (min-width: $bp-xl)
    margin-bottom 3rem
    padding 2rem 5rem 0

  #logo
    a
      svg
        display inline-block
        fill $color__catOne
        width 5rem