// .page__b-side,
// .page__b-side--inner
//   h1
//     color: lightness($bg__color--b-side, 90%)
//
//   #social__pages
//     a
//       svg
//         transition: all .4s ease-out
//         fill: $bg__color--b-side
//
//         &:hover,
//         &:focus
//             fill: rgba($bg__color--b-side, .8)
//
//   &::before
//     background: lightness($bg__color--b-side, 85%)
//     height: .8rem
//     right: 1.9rem
//     width: 3rem
//     z-index: -100
//
//     @media (min-width: $bp-xl)
//       background: $bg__color--b-side
//       right: inherit
//       left: 30vw
//       width: 60vw
//       height: 30vh
//
//   &::after
//     background: lightness($bg__color--b-side, 85%)
//     height: .8rem
//     right: 2.5rem
//     width: 3.3rem
//     z-index: -100
//
//     @media (min-width: $bp-xl)
//       background: $bg__color--b-side
//       right: 30vw
//       width: 65vw
//       height: 35vh
//
// #entries__pages
//   .pages__art
//     &.b-side
//       a
//         &:focus,
//         &:visited,
//         &:hover,
//         &:link
//           h2
//             color: $bg__color--b-side
//
// .main__article
//   &.b-side
//     h1, h2, h3, a h4
//       color: $bg__color--b-side
//
//   a
//       svg
//         fill: $bg__color--b-side
