// .page__back-in-time,
// .page__back-in-time--inner
//   h1
//     color: lightness($bg__color--back-in-time, 90%)
//
//   #social__pages
//     a
//       svg
//         transition: all .4s ease-out
//         fill: $bg__color--back-in-time
//
//         &:hover,
//         &:focus
//             fill: rgba($bg__color--back-in-time, .8)
//
//   &::before
//     background: lightness($bg__color--back-in-time, 85%)
//     height: .8rem
//     right: 1.9rem
//     width: 3rem
//     z-index: -100
//
//     @media (min-width: $bp-xl)
//       background: $bg__color--back-in-time
//       right: inherit
//       left: 0
//       width: 75vw
//       height: 25vh
//
//   &::after
//     background: lightness($bg__color--back-in-time, 85%)
//     height: .8rem
//     right: 2.5rem
//     width: 3.3rem
//     z-index: -100
//
//     @media (min-width: $bp-xl)
//       background: $bg__color--back-in-time
//       right: 5vw
//       width: 65vw
//       height: 30vh
//
// #entries__pages
//   .pages__art
//     &.back-in-time
//       a
//         &:focus,
//         &:visited,
//         &:hover,
//         &:link
//           h2
//             color: $bg__color--back-in-time
//
// .main__article
//   &.back-in-time
//     h1, h2, h3, a h4
//       color: $bg__color--back-in-time
//
//     a
//       svg
//         fill: $bg__color--back-in-time
