// .page__notas,
// .page__notas--inner
//   h1
//     color: lightness($bg__color--notas, 90%)
//
//   #social__pages
//     a
//       svg
//         fill: $bg__color--notas
//         transition: all .4s ease-out
//
//         &:hover,
//         &:focus
//             fill: rgba($bg__color--notas, .8)
//
//   &::before
//     background: lightness($bg__color--notas, 85%)
//     height: .8rem
//     right: 1.9rem
//     width: 3rem
//     z-index: -100
//
//     @media (min-width: $bp-xl)
//       background: $bg__color--notas
//       height: 30vh
//       left: 15vw
//       right: inherit
//       width: 65vw
//
//   &::after
//     background: lightness($bg__color--notas, 85%)
//     height: .8rem
//     right: 2.5rem
//     width: 3.3rem
//     z-index: -100
//
//     @media (min-width: $bp-xl)
//       background: $bg__color--notas
//       height: 30vh
//       right: 0
//       width: 65vw
//
// #entries__pages
//   .pages__art
//     &.notas
//       a
//         &:focus,
//         &:visited,
//         &:hover,
//         &:link
//           h2
//             color: $bg__color--notas
//
// .main__article
//   &.notas
//     h1, h2, h3, a h4
//       color: $bg__color--notas
//
//     a
//       svg
//         fill: $bg__color--notas
